.root-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FAFAE6;
  /* text-align: center; */
}

.header-container {
  min-height: 8vh;
  background-color:  #EB8C00;
}

.body-container {
  flex: 1;
  background-color:  #FED88F;
}

.footer-container {
 background-color:  #FFB92B;
}

.header-container p {
  font-size: xx-large;
}

/* .body-container p {
  font-size: x-large;
} */

.list-item {
  margin: 16px 0;
  border-radius: 8px;
  background-color:  #FFDA17;
}

.list-item p {
  font-size: larger;
}

.footer-container p {
  font-size: large;
}